@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer components {
  .highlight {
    @apply text-yellow-500 font-semibold;
  }
  /* Contact Info */
  .contact {
    @apply max-w-max rounded-md text-teal-400 py-2 px-3 hover:bg-gray-100 dark:hover:bg-gray-800 hover:duration-500;
  }
  .contact > a {
    @apply flex items-center gap-2;
  }
  /* Blog */
  .post {
    @apply mt-4;
  }
  .post h1 {
    @apply text-2xl font-bold underline underline-offset-[6px] decoration-4 decoration-gray-700 my-4;
  }
  .post h2 {
    @apply text-xl font-semibold;
  }
  .post p {
    @apply my-2;
  }
  .post hr {
    @apply my-4;
  }
  .post img {
    @apply rounded-md my-6 mx-auto;
  }
  .post a {
    @apply text-teal-400 font-bold;
  }
  .post strong {
    @apply text-yellow-500;
  }
}
